@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #333333;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  width: 160px;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.button-inner {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: #83B3D3;
  color: #FFFFFF;
}

.button-feedback {
  display: flex;
  justify-content: center;
  width: 575px;
  box-sizing: border-box;
  padding: 15px 0 8px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.button-newsletter {
  width: 200px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  background-color: #83B3D3;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.button-newsletter:hover {
  background-color: #68A2CA;
  ;
}

.button-newsletter:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.button-newsletter:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.button-apply {
  height: 48px;
  background-color: #83B3D3;
  margin-bottom: 15px;
  font-family: inherit;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #FFFFFF;
  outline: none;
  border-radius: 4px;
}

.button-apply:active {
  background-color: #68A2CA;
}

.button-reset {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-transform: none;
  color: #FFFFFF;
  font-family: inherit;
  background-color: transparent;
  border: none;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.button-reset:focus {
  background-color: transparent;
}

.button-reset:active {
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.button-checked {
  width: 141px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
  padding: 9px 0 8px;
}

.button-checked:hover {
  background-color: #6C9E42;
}

.button-checked:focus {
  background-color: #6C9E42;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.button-checked:active {
  background-color: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
}

.button-load {
  height: 60px;
  margin: 0 auto;
  padding: 0;
  width: 620px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}

.button-load:hover {
  background-color: #68A2CA;
  ;
}

.button-load:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.button-load:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe {
  width: 200px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
}

.button-favourite {
  width: 141px;
  background-color: #83B3D3;
  padding: 9px 0 8px;
}

.button-favourite:hover {
  background-color: #68A2CA;
  box-shadow: 0 0 0 1px #756257;
  outline: none;
}

.button-favourite:focus {
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.button-favourite:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3)
}

.page-header {
  position: relative;
  z-index: 1;
  color: #000000;
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-counter {
  margin-right: 18px;
}

.navigation-counter::after {
  position: absolute;
  content: attr(data-counter);
  transform: translate(2px, 1px);
  bottom: 50%;
  left: 50%;
  display: block;
  height: 20px;
  width: 20px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: -0.1em;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #FFFFFF;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #000000;
}

.navigation-link-checked::before {
  content: "";
  height: 2px;
  position: absolute;
  right: 17px;
  left: 17px;
  bottom: 0;
  background-color: #756257;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: #756257;
  opacity: 0.3;
}

.navigation-counter:active::after {
  color: #ffffff4d;
}

.navigation-counter:active {
  opacity: 1;
}

.navigation-link:hover path {
  fill: #756257;
}

.navigation-link:active path {
  fill: #756257;
  opacity: 0.3;
}

.navigation-list ul {
  margin: 0;
  padding: 0;
}

.navigation-user {
  padding: 0;
  margin-left: auto;
}

.navigation-logo {
  display: block;
  margin-right: 30px;
  margin-bottom: -5px;
}

.navigation-user .navigation-link {
  padding: 20px 14px;
  min-width: 16px;
  min-height: 22px;
}

.main-index {
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.main-background {
  position: relative;
  background-color: #96c7e8;
  background-image: url("../images/main-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-background-logo {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px;
}

.main-background-icon {
  position: absolute;
  bottom: 0;
  border: none;
}

.main-description {
  padding: 63px 240px 80px;
}

.main-description-text {
  margin-top: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-description-summary {
  margin-top: 31px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages {
  display: flex;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 93px 90px 87px;
  width: calc(100%/3);
}

.advantages-container-other {
  width: calc(100%/3);
  padding: 98px 75px 108px;
}

.advantages-city-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title-other {
  margin-top: 13px;
}

.advantages-city-item {
  width: calc(100%/3);
  padding: 85px 75px 89px;
  background-color: #83B3D31F;
}

.advantages-city-item-other {
  padding: 98px 75px 111px;
}

.number {
  margin-bottom: 32px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  text-align: center;
}

.advantages-city-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages-city-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-city-icon {
  margin-bottom: 23px;
}

.advantages-city-icon-house {
  margin-top: 4px;
}

.advantages-city-icon-food {
  margin-top: 6px;
  box-sizing: border-box;
}

.advantages-city-title-other {
  margin: 0;
  margin-bottom: 20px;
}

.advantages-city-description-other {
  margin: 0;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-city-item-background {
  background-color: #FFFFFF;
}

.advantages-city-description {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #333333;
}

.number-other {
  padding: 0;
  margin-bottom: 31px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.advantages-city-item-background-different {
  background-color: #83B3D333;
}

.feedback {
  margin: 0;
  padding: 90px 240px 93px;
}

.feedback-text {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.feedback-text-lower {
  width: 720px;
  margin: 0;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.main-newsletter {
  padding: 94px 200px;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  color: #FFFFFF;
}

.main-newsletter-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-newsletter-description {
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.main-newsletter-form {
  display: flex;
  justify-content: center;
}

.main-newsletter-form label {
  display: none;
}

.field {
  width: 600px;
  box-sizing: border-box;
  font: inherit;
  padding: 20px 22px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  background-color: #F2F2F2;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:active {
  box-shadow: none;
}

.field:focus {
  outline: none;
  background-color: #E6E6E6;
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.field:focus:required:invalid {
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 2px #FF5757;
  outline: none;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 40px 72px 30px 62px;
}

.social-footer {
  max-width: 190px;
}

.social-footer-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

}

.social-footer-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.social-footer-link:focus {
  border-color: #83B3D3;
}

.social-footer-item {
  margin-right: 3px;
  list-style-type: none;
}

.social-footer-icon:hover path {
  fill: #68A2CA;
}

.social-footer-icon:active path {
  fill: #68A2CA;
  opacity: 0.3;
}

.social-footer-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts {
  padding: 0;
  padding-left: 50px;
}

.footer-contacts-phone {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  color: #756257;
  box-shadow: 0 0 0 3px #83B3D3;
  outline: none;
}

.footer-contacts-phone:active {
  color: #756257;
  opacity: 0.3;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.html-academy-icon {
  margin-left: 53px;
}

.html-academy-icon:hover path {
  fill: #756257;
}

.html-academy-icon:focus path {
  fill: #756257;
  box-shadow: 0 0 0 3px #83B3D3;
  outline: none;
}

.html-academy-icon:active path {
  fill: #756257;
  opacity: 0.3;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 67px 70px;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.field-group {
  display: flex;
  margin-bottom: 11px;
}

.check-in-date-container {
  position: relative;
}

.check-in-label {
  display: flex;
  align-items: center;
  height: 50px;
  width: 155px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  width: 155px;
}

.check-in-form-field {
  width: 420px;
  height: 50px;
  padding: 0 50px 6px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: url(../images/date.svg);
  background-repeat: no-repeat;
  background-position: right 19px center;
}

.check-in-form-field::-webkit-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.check-in-form-field:active,
.age-number-from-field:active {
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #000000;
  background: #FFFFFF;
}

.error-text {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #FF5757;
}

.success-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #333333;
}

.age-field-group-container {
  display: flex;
  width: 575px;
  margin-bottom: 40px;
}

.adult-number-container {
  display: flex;
  width: 133px;
  margin-right: 56px;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.age-number-from-field {
  width: 33px;
  height: 50px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  border-radius: 0;
  color: #000000;
}

.age-number-from-field::-webkit-input-placeholder {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  outline: 0;
  border: none;
  color: #000000;
}

.minus-button {
  position: relative;
  padding: 11px;
  margin: 14px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #F2F2F2;
}

.minus-button::after {
  position: absolute;
  content: "";
  display: block;
  left: 5px;
  height: 1px;
  width: 13px;
  padding: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #000000;
  opacity: 0.3;
}

.minus-button:hover::after {
  opacity: 1;
}

.minus-button:active::after {
  opacity: 0.2;
  border: none;
}

.minus-button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.minus-button:focus:after {
  color: #000000;
  opacity: 1;
}

.plus-button {
  position: relative;
  padding: 11px;
  margin: 14px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #F2F2F2;
}

.plus-button::after {
  position: absolute;
  transform: rotate(90deg);
  right: 5px;
  content: "";
  display: block;
  height: 1px;
  width: 13px;
  padding: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #000000;
  opacity: 0.3;
}

.plus-button::before {
  position: absolute;
  right: 5px;
  content: "";
  display: block;
  height: 1px;
  width: 13px;
  padding: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #000000;
  opacity: 0.3;
}

.plus-button:hover::after,
.plus-button:hover::before {
  opacity: 1;
}

.plus-button:active::after,
.plus-button:active::before {
  opacity: 0.2;
}

.plus-button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.plus-button:focus:after,
.plus-button:focus::before {
  color: #000000;
  opacity: 1;
}

.child-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.child-number-container {
  position: relative;
}

.child-label {
  display: flex;
  align-items: center;
  height: 50px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}




.tooltip-text::before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 19px;
  height: 9px;
  content: "";
  background-image: url("../images/tooltip-cours.svg");
}

.tooltip {
  position: relative;
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  margin-left: 11px;
  margin-right: 18px;
  border-radius: 50px;
  background-image: url("data:image/svg+xml,%3Csvg width='1' height='9' viewBox='0 0 1 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_18711_288)'%3E%3Cpath d='M0 9H1L1 3H0L0 9Z' fill='white'/%3E%3Cpath d='M1 0H0V1H1V0Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_18711_288'%3E%3Crect width='1' height='9' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-color: #83B3D3;
  background-position: center;
  background-repeat: no-repeat;
}

.tooltip-text {
  position: absolute;
  left: 50%;
  top: calc(100% + 15px);
  transform: translateX(-50%);
  display: none;
  width: 256px;
  height: 143px;
  padding: 15px 18px 18px 22px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #333333;
  color: #FFFFFF;
}

.tooltip:hover {
  background-color: #68A2CA;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.modal-searching {
  box-sizing: border-box;
  width: 715px;
}

.modal-close-button {
  position: absolute;
  top: 55px;
  right: 70px;
  width: 53px;
  height: 53px;
  padding: 0;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}

.modal-close-button::after {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  width: 13px;
  height: 13px;
  content: "";
  background-image: url("../images/close-modal.svg");
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-close-button:active::after {
  opacity: 0.3;
}

.modal-title {
  padding-right: 60px;
  margin: 0;
  margin-bottom: 60px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.searching-form {
  padding-left: 2px;
}

.button-searching-form {
  display: block;
  width: 575px;
  height: 60px;
  margin: auto;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 10px;
}

.button-searching-form:hover {
  background-color: #68A2CA;
}

.button-searching-form:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
  outline: none;
}

.button-searching-form:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

/* Catalog */
.button-show-all,
.button-show-single,
.button-show-list {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.button-show-list {
  margin-right: 0;
}

.button-show-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 82px;
}

.catalog-hotels {
  padding: 35px 72px 72px;
  color: #FFFFFF;
  background-color: #83B3D4;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-inner-title {
  margin: 0;
  margin-bottom: -10px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}

.main-inner-breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  list-style-type: none;
}

.main-inner-breadcrumbs-item {
  position: relative;
  margin-right: 10px;
}

.main-inner-breadcrumbs-link {
  display: block;
  padding: 3px 8px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
}

.main-inner-breadcrumbs-item:first-of-type .main-inner-breadcrumbs-link {
  margin-left: -8px;
}

.main-inner-breadcrumbs-item::after {
  position: absolute;
  width: 5px;
  height: 8px;
  left: calc(100% + 3px);
  top: calc(50% - 4px);
  display: block;
  content: "";
  background-image: url("../images/Vector.svg");
  pointer-events: none;
}

.main-inner-breadcrumbs-item:last-child::after {
  content: none;
}

.main-inner-breadcrumbs-link:hover {
  color: #FFFFFF;
  opacity: 0.6;
}

.main-inner-breadcrumbs-link:focus,
.main-inner-breadcrumbs-icon:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
  border-radius: 4px;
}

.main-inner-breadcrumbs-link:active,
.main-inner-breadcrumbs-icon:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-item {
  margin-bottom: 13px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  list-style: none;
}

.catalog-filter {
  display: flex;
}

.control {
  position: relative;
  display: flex;
  align-items: center;
}

.control-mark {
  position: relative;
  display: block;
  min-width: 20px;
  min-height: 20px;
  margin-right: 19px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  background: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.control:active .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 6px);
  display: block;
  width: 13px;
  height: 10px;
  content: "";
  background-image: url("../images/select.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-mark-other {
  position: relative;
  display: block;
  min-width: 20px;
  min-height: 20px;
  margin-right: 19px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.control:focus .control-mark-other {
  outline: 3px solid #83B3D3;
}

.control-input[type="radio"]:checked+.control-mark-other::before {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  content: "";
  background-color: #3F5E72;
  border-radius: 50%;
}

.catalog-filter-group-comfort {
  margin: 0;
  margin-right: 67px;
  padding: 0;
  border: none;
}

.catalog-filter-group-type {
  margin: 0;
  margin-right: 169px;
  padding: 0;
  border: none;
}

.catalog-filter-group-price {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 28px;
  background-color: #ffffff4d;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  transform: translateY(-40%);
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: #FFFFFF;
  opacity: 1;
  cursor: pointer;
}

.toggle-max {
  right: -10px;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.range-wrapper-inputs {
  display: flex;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
}

.range-description {
  margin-left: auto;
  padding: 12px 17px 13px;
  opacity: 0.3;
}

.catalog-filter-label {
  display: flex;
  width: 142px;
  box-sizing: border-box;
}

.catalog-filter-label:last-child {
  border-left: 2px solid #FFFFFF;
}

.range-input {
  width: 40px;
  padding: 14px 0 11px 15px;
  background-color: transparent;
  border: none;
  font: inherit;
  color: #FFFFFF;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.button-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 53px;
  margin: 0;
  margin-left: auto;
}

.catalog-filter-title-type {
  margin-bottom: 30px;
}

.catalog-filter-title-price {
  padding: 0;
  margin-bottom: 34px;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}

.catalog-filter-list-comfort,
.catalog-filter-list-type,
.catalog-filter-item-price {
  padding: 0;
  margin: 0;
}

.catalog-padding {
  padding: 44px 72px 73px 71px;
}

.hotel-select-container {
  display: flex;
  margin-bottom: 51px;
}

.hotel-card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.hotel-card-found-text {
  margin-right: 192px;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.card-grid-toggle-current {
  border: 2px solid #000000;
}

.card-grid-toggle:last-child {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin-right: 0px;
}

.card-grid-toggle:hover {
  border: 2px solid #83B3D3;
}

.card-grid-toggle:focus {
  border: 2px solid #83B3D3;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 31px;
}

.select-control {
  width: 285px;
  padding: 8px 21px 13px 17px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  font-family: inherit;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../images/select-down.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  appearance: none;
}

.select-control:hover {
  border-color: #83B3D3;
  outline: none;
}

.select-control:focus {
  border-color: #83B3D3;
  outline: none;
}

.select-control:active {
  color: #333333;
  opacity: 0.3;
}

.hotel-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.hotel-card-item {
  width: 340px;
  padding: 20px;
  box-sizing: border-box;
  list-style: none;
  margin-bottom: 10px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-card-image {
  margin-bottom: 10px;
}

.hotel-card-image:hover {
  opacity: 0.6;
}

.hotel-card-image:focus {
  box-shadow: 0 0 0 3px #83B3D3;
  outline: none;
}

.hotel-card-image:active {
  opacity: 0.3;
}

.card-container-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-container-text,
.card-container-text-other {
  display: flex;
  flex-direction: column;
}

.hotel-card-description,
.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 15px;
}

.button-more {
  width: 133px;
  padding: 9px 0 8px;
}

.star {
  padding: 10px 0px;
  margin-right: 7px;
}

.star:nth-child(5) {
  margin-right: 0px;
}

.hotel-card-rating {
  display: block;
  box-sizing: border-box;
  width: 160px;
  height: 37px;
  margin-left: auto;
  padding: 8px 0 10px 1px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.hotel-card-qualification {
  display: flex;
  margin: 0;
}

.button-load-container {
  margin: 0;
  padding: 30px 218px;
  margin-bottom: 29px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.pagination-container {
  display: flex;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  height: 55px;
  padding: 0 10px;
  min-width: 55px;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:hover:not(.pagination-current) {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-text {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.pagination-control-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.select-control-pagination {
  width: 160px;
  height: 48px;
  margin-left: 51px;
  padding: 9px 21px 12px 17px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  appearance: none;
  border-radius: 4px;
  border: 2px solid #E6E6E6;
  background-image: url("../images/select-down.svg");
  background-repeat: no-repeat;
  background-position: center left 127px;
}

.catalog-newsletter {
  margin: 0;
  padding: 0 200px;
  margin-bottom: 140px;
}

.catalog-newsletter-form {
  display: flex;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
}

.catalog-newsletter-title {
  margin: 0;
  margin-bottom: 46px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.catalog-newsletter-form label {
  display: none;
}

.catalog-field {
  flex-grow: 1;
  padding: 0;
  padding-left: 22px;
  line-height: 60px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
}

.catalog-newsletter-description {
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
